.licenseSection {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  min-height: 80%;
}

.licenseCard {
  display: grid;
  grid-template-rows: auto 0.25fr 1fr 100px 30px;
  background: var(--surface-container-high);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.licenseCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.licenseTitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.licenseDescription {
  opacity: 0.8;
}

.licenseBottom {
  display: flex;
  justify-content: space-between;
}

.licenseActions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
}

.licensePrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.vatNote {
  font-size: 0.75rem;
  color: #777;
  margin-top: 2px;
}

.licenseButton {
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s ease;
  text-align: center;
  
  &.primary {
    background: var(--ifm-color-primary);
    color: white;

    &:hover {
      background: var(--ifm-color-primary-dark);
    }
  }

  &.secondary {
    background: transparent;
    border: 1px solid var(--ifm-color-primary);
    color: var(--ifm-color-primary);
  
    &:hover {
      opacity: 80%;
    }
  }
}

.featureList {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

.feature {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  border-bottom: 1px dashed;

  &.disabled {
    color: rgba(155, 155, 155, 0.6) !important;
    text-decoration: line-through;
  }

  &:not(:hover) .tooltip-text {
     display: none;
  }
  
  .tooltip-text {
    font-size: 14px;
    background: var(--surface-container-high);
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: var(--ifm-font-color-base);
    border-radius: 8px;
    position: absolute;
    margin: 0 3ch;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    bottom: calc(100% + 10px);
    padding: 8px;
  }
}

.licenseFootnote {
  margin-top: 0.75rem;
  font-size: 0.8rem;
  opacity: 0.6;
  text-align: center;
}