.licenses, .licenses-full-width {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}

.account-exists {
  display: flex;
  justify-content: center;
}

.licenses-full-width {
  width: 100%;
}

.licenses-full-width .licenseSection {
  .licenseCard {
    max-width: none;
    display: block;

    .licenseFootnote {
      text-align: left;
    };

    .licenseActions {
      flex-direction: row-reverse;
    };

    .licenseButton {
      margin: auto;
    }
  }
}